@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
  --background: #ffffff;
  --foreground: #171717;

  scrollbar-width: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-teko: var(--font-teko);
  --font-chela: var(--font-chela-one);
  --font-poppins: var(--fonts-poppins);

  --shadow-4: 0 4px 16px rgba(161, 161, 161, 0.2);
  --shadow-5: 0 4px 32px rgba(161, 161, 161, 0.8);
  --animate-bounce2: bounce2 1s infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

#arrow-button:hover {
  animation: sideToSide 2s ease-in-out infinite alternate;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Helvetica, sans-serif;
}

.title {
    @apply text-zinc-100 text-5xl md:text-6xl font-medium mb-5;
}

.subtitle {
  @apply text-neutral-100 text-2xl font-medium;
}

.BBG {
  @apply bg-zinc-500/5 border-2 border-neutral-50/5 backdrop-blur-xl;
}

.page-continer{
  @apply mx-auto w-full max-w-6xl px-6 sm:px-8
}

.main-container{
  @apply mx-auto flex max-w-6xl px-6 py-24 sm:px-8
}

.base-header{
  @apply mx-auto flex max-w-6xl items-center justify-between px-6 py-8 sm:px-8
}

.li-hover{
  @apply hover:-translate-y-1 transform ease-in-out duration-400;
}

.link-hover {
  @apply hover:bg-neutral-700/20 hover:backdrop-blur-2xl border border-transparent hover:border-neutral-100/10 py-2 px-5 rounded-full transform transition ease-in-out hover:-translate-y-2 hover:shadow-lg;
}

@keyframes bounce2 {
  0%,
  100% {
    transform: translateX(25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}