@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Fonts */
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-chela: var(--font-chela-one);
  --font-titan: var(--font-titan-one);
  --font-poppins: var(--fonts-poppins);

  --shadow-4: 0 4px 16px rgba(161, 161, 161, 0.2);
  --shadow-5: 0 4px 32px rgba(161, 161, 161, 0.8);
  --animate-bounce2: bounce2 1s infinite;

  /* Imported */
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

#arrow-button:hover {
  animation: sideToSide 2s ease-in-out infinite alternate;
}

body {
  font-family: var(--font-poppins), Helvetica, sans-serif;
}

.title {
    @apply text-zinc-100 font-titan text-5xl md:text-6xl font-medium mb-5;
}

.subtitle {
  @apply text-neutral-100 text-2xl font-medium;
}

.BBG {
  @apply bg-zinc-500/5 border-2 border-neutral-50/5 backdrop-blur-xl;
}

.li-hover{
  @apply hover:-translate-y-1 transform ease-in-out duration-400;
}

.link-hover {
  @apply hover:bg-neutral-700/20 hover:backdrop-blur-2xl border border-transparent hover:border-neutral-100/10 py-2 px-5 rounded-full transform transition ease-in-out hover:-translate-y-2 hover:shadow-lg;
}

@keyframes bounce2 {
  0%,
  100% {
    transform: translateX(25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}
